.root {
    -fx-font-size: 200%;
    -fx-font-family: "Courier New";
    -fx-background-color: TRANSPARENT;
}

.button {
    -fx-border-color: #d2d2d2;
    -fx-background-color: #FFFFFF;
}

.button:disabled {
    -fx-border-color: TRANSPARENT;
    -fx-background-color: TRANSPARENT;
}

.button:hover {
    -fx-border-color: #2d2d2d;
    -fx-background-color: #d2d2d2;
}

.button:pressed {
    -fx-border-color: #d2d2d2;
    -fx-background-color: #2d2d2d;
}

.toggle-button {
    -fx-text-fill: #000000;
    -fx-border-color: #d2d2d2;
    -fx-background-color: #FFFFFF;
}

.toggle-button:hover {
    -fx-text-fill: #000000;
    -fx-border-color: #2d2d2d;
    -fx-background-color: #d2d2d2;
}

.toggle-button:pressed {
    -fx-text-fill: #d2d2d2;
    -fx-border-color: #d2d2d2;
    -fx-background-color: #2d2d2d;
}

.toggle-button:selected {
    -fx-text-fill: #ffffff;
    -fx-border-color: #d2d2d2;
    -fx-background-color: #2d2d2d;
}

#file-pane {
    -fx-background-color: #000000aa;
}

.text-field {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.combo-box {
    -fx-background-color: #2d2d2d;
}

.combo-box .list-cell {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

#menu {
    -fx-background-color: #000000aa;
}

/*
#file.button {
    -fx-border-color: GREEN;
    -fx-background-color: TRANSPARENT;
}
*/
